<!-- src/app/shared/components/widget-chart/widget-chart.component.html -->
<ng-container [ngSwitch]="widget?.config?.chart_type">

  <div *ngSwitchCase="'kpi'" class="kpi-container">
    <div class="kpi-value">{{ kpiValue }}</div>
    <div class="kpi-label" *ngIf="widget?.config?.title as t">{{ t }}</div>
  </div>

  <div *ngSwitchDefault class="chart-container">
    <canvas #chartCanvas></canvas>

    <div class="chart-empty" *ngIf="!hasData">
      <mat-icon>hourglass_empty</mat-icon>
      <span>No data</span>
    </div>
  </div>

</ng-container>