<div class="login-wrapper">
    <div class="login-card">
        <!-- App title and subtitle -->
        <h1 class="login-title">Smart Data Visualizer</h1>
        <p class="login-subtitle">Sign in to continue</p>

         <!-- Error banner -->
        <div *ngIf="errorMessage" class = "error-banner" role="alert">
            {{errorMessage}}
        </div>

        <!--Login form-->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <!-- EMAIL FIELD -->
            <div class="field-group">
                <label for="email">Email</label>
                <input
                id="email"
                type="email"
                formControlName="email"
                placeholder="you@example.com"
                autocomplete="email"
                [class.invalid]="email?.invalid && email?.touched"    
                /> 

                <!-- Validation messages -->
                 <span class="field-error" *ngIf="email?.touched && email?.hasError('required')">
                    Email is Required.
                 </span>
                 <span class="field-error" *ngIf="email?.touched && email?.hasError('email')">
                    Please enter a valid email address.
                 </span>
            </div>

            <!-- PWD FIELD -->
             <div class="field-group">
                <label for="password">Password</label>
                <input
                id="password"
                type="password"
                formControlName="password"
                placeholder="••••••••"
                autocomplete="current-password"
                [class.invalid]="password?.invalid && password?.touched"
                />
                    <!-- eRROR messages -->
                    <span class="field-error" *ngIf="password?.touched && password?.hasError('required')">
                        Password is Required.
                    </span>
                    <span class="field-error" *ngIf="password?.touched && password?.hasError('minlength')">
                        Password must be at least 6 characters.
                     </span>
            </div>
             <!-- SUBMIT BUTTON -->
              <button
              type="submit" 
              class="submit-btn" 
              [disabled]="isLoading || loginForm.invalid"
              >
              <span *ngIf="!isLoading">Sign In</span>
              <span *ngIf="isLoading">Signing in ...</span>
              </button>
        </form>>
    </div>
</div>